name: Python CI-CD Pipeline

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # -------- SonarCloud --------
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # -------- Trivy FS Scan --------
      - name: Trivy filesystem scan
        uses: aquasecurity/trivy-action@v0.20.0
        with:
          scan-type: fs
          severity: HIGH,CRITICAL
          exit-code: 1
